<!--Index-->
<template name="aboutUs">
    <br>
    <h1 style="font-size: 40px; font-weight: bold" class="text-primary">
        <i class="fa fa-users"></i>About Us</h1>
          <div class="panel-group">
            <div class="col-sm-4">
            <div class="panel panel-primary">
              <div class="panel-heading">Panel with panel-default class</div>
              <div class="panel-body">
                  <li>Name:</li>
                  <li>Gender:</li>
                  <li>Job:</li>
                  <li>Year:</li>
                  <li>University:</li>
                  <li>Address:</li>
                  <li>Phone:</li>
              </div>
            </div>
        </div>
    </div>
    <div class='row'>
  <div class='col-sm-4'>
    <div class="panel panel-default">
      <img src="//placehold.it/450X300/427fed/fff" class="img-responsive">
      <img src="//placehold.it/80X80/57a744/fff" class="img-circle" style='display: block; width: 80px; margin: -40px auto 0;'>
      <div class="panel-body">
        <p class='lead text-center'>Card Example</p>
        <ul class='list-unstyled'>
          <li class='text-center'>Lorem ipsum</li>
          <li class='text-center'>Lorem ipsum</li>
          <li class='text-center'>Lorem ipsum</li>
        </ul>
        <a class='btn btn-default btn-block' href='#'>Add</a>
      </div>
    </div>
  </div>
</div>
<!-- <div class='row'>
  <div class='col-sm-4'>
    <div class="panel panel-default">
      <img src="//placehold.it/450X300/ededed" class="img-responsive">
      <div class="panel-body">
        <p class='lead'>Card Example</p>
        <p>20 Followers, 2 Posts</p>
        <p>
          <img src="//placehold.it/28X28/ededed">
          <img src="//placehold.it/28X28/a0c3fd">
          <img src="//placehold.it/28X28/25282d">
        </p>
      </div>
    </div>
  </div>
  </div> -->
   <button type="button" class="btn btn-border-default waves-effect">Default</button>
</template>
