<head>
    <link rel="icon" href="apple.png">
    <title>Drink Product Management</title>
</head>

<template name="mainLayout">
    <body style="margin-top: 85px">
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-primary">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{pathFor 'home'}}" style="font-size: 20px"><i class="fa fa-beer fa-lg"></i> Drink
                    Product Management</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!--<li><a href="{{pathFor 'home'}}" style="font-size: 20px"><i class="fa fa-beer fa-lg"></i> Drink-->
                        <!--Product Management</a></li>-->
                    {{#if currentUser}}

                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle"
                                   data-toggle="dropdown">Report <b class="fa fa-cog fa-spin"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{pathFor 'orderReport'}}">Order Report</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{pathFor 'stockReport'}}">Stock Report</a></li>
                                </ul>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle"
                                   data-toggle="dropdown">Person
                                    <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{pathFor 'customer'}}">Customer</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{pathFor 'employee'}}">Employee</a></li>
                                </ul>
                            </li>
                        </ul>

                        <!--Report-->
                        <li><a href="{{pathFor 'order'}}">Order</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Product
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{pathFor 'product'}}">Product</a></li>
                                <li class="divider"></li>
                                <li><a href="{{pathFor 'Stock'}}">Stock</a></li>
                            </ul>
                        </li>

                    {{/if}}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {{> loginButtons}} <!-- here -->
                    {{#if currentUser}}
                    <li><a href="{{pathFor 'aboutUs'}}"><i class="fa fa-users"></i></a></li>
                    {{/if}}
                </ul>

            </div>
        </div>
    </nav>

    <div class="container">
        {{> Template.dynamic template=content}} <!--put content here!-->
        <footer>
            <p class="text-center text-primary">&copy; 2016 Drink Product Management System, Inc.</p>
        </footer>
    </div>
    </body>
</template>
