<!--Index-->
<template name="employee">
    <h1 style="font-size: 40px; font-weight: bold" class="text-primary page-header top">Employee</h1>
    <p>
        <a href="{{pathFor 'employeeInsert'}}" class="btn btn-raised btn-primary fa fa-plus"> Add</a>
    </p>

    {{> tabular table=TabularTables.Employee class="table table-striped table-hover"}}
</template>

<!--Insert-->
<template name="employeeInsert">
    <p>
        <a href="{{pathFor 'employee'}}" class="btn btn-raised btn-primary fa fa-arrow-left"> Back</a>
    </p>
    <!--{{> quickForm collection="Collection.Employee" id="employeeInsert" type="insert"}}-->
    {{#autoForm collection="Collection.Employee" id="employeeInsert" type="insert"}}
        <legend style="font-size: 35px; font-weight: bold" class="text-primary"><i class="fa fa-users"></i> Add New Employee</legend>
        <div class="row">
            <div class="col-md-4">{{> afQuickField name='employeeName'}}</div>
            <div class="col-md-4">{{> afQuickField name='gender'}}</div>
            <div class="col-md-4">{{> afQuickField name='dateBirth'}}</div>
            <div class="col-md-4">{{> afQuickField name='employeeType'}}</div>
            <div class="col-md-4">{{> afQuickField name='address'}}</div>
            <div class="col-md-4">{{> afQuickField name='phone'}}</div>
            <div class="col-md-4">{{> afQuickField name='des'}}</div>
        </div>
        <button type="submit" class="btn btn-raised btn-primary fa fa-save"> Insert</button>
    {{/autoForm}}
</template>

<!--Update-->
<template name="employeeUpdate">
    <p>
        <a href="{{pathFor 'employee'}}" class="btn btn-raised btn-primary fa fa-arrow-left"> Back</a>
    </p>
    <!--{{> quickForm collection="Collection.Employee"  id="employeeUpdate" type="update"}}-->
    {{#autoForm collection="Collection.Employee" doc=employeeDoc id="employeeUpdate" type="update"}}
        <legend style="font-size: 35px; font-weight: bold" class="text-primary"><i class="fa fa-user-secret"></i> Employee Update</legend>
        <div class="row">
            <div class="col-md-4">{{> afQuickField name='employeeName'}}</div>
            <div class="col-md-4">{{> afQuickField name='gender'}}</div>
            <div class="col-md-4">{{> afQuickField name='dateBirth'}}</div>
            <div class="col-md-4">{{> afQuickField name='employeeType'}}</div>
            <div class="col-md-4">{{> afQuickField name='address'}}</div>
            <div class="col-md-4">{{> afQuickField name='phone'}}</div>
            <div class="col-md-4">{{> afQuickField name='des'}}</div>
        </div>
        <button type="submit" class="btn btn-raised btn-primary fa fa-save"> Update</button>
    {{/autoForm}}
</template>

<!--Action-->
<template name="employeeAction">
    <div class="btn-group">
        <a class="btn btn-raised btn-primary dropdown-toggle btn-sm" data-toggle="dropdown">
            <i class="fa fa-cog fa-spin"></i>
        </a>
        <ul class="dropdown-menu">
            <li><a class="jsUpdate">Update</a></li>
            <li class="divider"></li>
            <li><a class="jsRemove">Remove</a></li>
        </ul>
    </div>
</template>